* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: Helvetica Neue, "Source Sans Pro";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}
input {
  border: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth; /* Плавная прокрутка для всей страницы */
}

main {
  padding-top: 12rem; /* Высота должна быть равна или больше высоты вашего хедера */
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  main {
    padding-top: 8rem; /* Высота должна быть равна или больше высоты вашего хедера */
  }
}

@media screen and (max-width: 480px) {
  main {
    padding-top: 6rem; /* Высота должна быть равна или больше высоты вашего хедера */
  }
}
